# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

.vscode

__pycache__/
*.pyc

data/
tcl_test/
gen_test/
z_test/
z_test_18_mar/

.venv/

cpp_output/

gen_test_hls/
data_test.npz

z_mini_tf.npz
z_mini_torch.npz

NMNIST/

comparativo_CONV_2D/

exe_cpp

primitive_debug/**/*.txt

vitis_proj/
tb_data/
*.log

*.nir
event_driven/event_driven/hls/csim/build/nmnist_300_steps_test_sample_lengths.txt
