# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

.vscode

__pycache__/
*.pyc

data/
tcl_test/
gen_test/
z_test/

.venv/

cpp_output/

gen_test_hls/
data_test.npz

z_mini_tf.npz
z_mini_torch.npz

NMNIST/

exe_cpp

primitive_debug/**/*.txt

*.nir